li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 985px;
  width: 100%;
  background: red;
  margin: 0 auto;
}

.button-design1 {
  position: relative;
}
.button-design1 .button {
  width: 194px;
  background: green;
  height: 50px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.button-design1 .down-arrow {
  position: absolute;
  height: 15px;
  width: 15px;
  background: red;
  transform: rotate(45deg);
  bottom: -6px;
  z-index: 1;
  left: 50%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

header .header-top {
  height: 189px;
  width: 100%;
  background-image: url("../images/header-top-bg.png");
}
header .header-top .left-section {
  width: 282px;
  height: 189px;
}
header .header-top .left-section.logo img {
  margin-top: 24px;
  margin-left: 28px;
}
header .header-top .right-section {
  width: 703px;
  height: 189px;
  background: greenyellow;
}
header .header-top .right-section .shoping-cart {
  height: 84px;
  width: 391px;
  background: darkseagreen;
}
header .header-top .right-section .shoping-cart .top {
  height: 50px;
  width: 100%;
  color: yellow;
}
header .header-top .right-section .shoping-cart .top .login-sec ul {
  overflow: hidden;
  border: 1px solid #cdcdcd;
}
header .header-top .right-section .shoping-cart .top .login-sec ul li {
  border-right: 1px solid #000;
}
header .header-top .right-section .shoping-cart .top .login-sec ul li:last-child {
  border-right: none;
}
header .header-top .right-section .shoping-cart .bottom {
  height: 34px;
  width: 100%;
}
header .header-nav {
  height: 45px;
  width: 100%;
  background: #e03639;
}

section.middle {
  height: 1215px;
  width: 100%;
  background: hotpink;
}
section.middle aside {
  height: 1215px;
  width: 233px;
  background: indianred;
}
section.middle main {
  height: 1215px;
  width: 752px;
  background: lawngreen;
}

footer {
  height: 251px;
  width: 100%;
  background: seagreen;
}
